
.icon-darBaja:before { content: '\e800'; } /* '' */
.icon-galeria:before { content: '\e801'; } /* '' */
.icon-psw:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-crear:before { content: '\e808'; } /* '' */
.icon-solicitarAlbum:before { content: '\f217'; } /* '' */